@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .outlined {
    -webkit-text-stroke: 2px #292929 !important;
    paint-order: stroke-fill;
  }

  .outlinedbright {
    -webkit-text-stroke: 2px #fff !important;
    paint-order: stroke-fill;
    font-family: "Poppins", sans-serif;
  }

  .error {
    font-family: "Poppins", sans-serif;
  }

  .four {
    font-size: 41rem;
  }
}

@layer base {
  html,
  body {
    padding: 0;
    margin: 0;
    background: linear-gradient(
      90deg,
      rgba(18, 18, 18, 1) 0%,
      rgba(8, 8, 8, 1) 100%
    );
  }

  h6 {
    font-family: "Poppins", sans-serif;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}
